<?xml version="1.0"?>

<config>
    <modules>
        <MD_AdvancedCatalog>
            <version>1.0.0</version>
        </MD_AdvancedCatalog>
    </modules>
    <global>
        <helpers>
            <advancedcatalog>
                <class>MD_AdvancedCatalog_Helper</class>
            </advancedcatalog>
        </helpers>
        <blocks>
            <advancedcatalog>
                <class>MD_AdvancedCatalog_Block</class>
            </advancedcatalog>
            <catalog>
                <rewrite>
                    <layer_filter_attribute>MD_AdvancedCatalog_Block_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>MD_AdvancedCatalog_Block_Catalog_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_category>MD_AdvancedCatalog_Block_Catalog_Layer_Filter_Category</layer_filter_category>
                    <layer_filter_decimal>MD_AdvancedCatalog_Block_Catalog_Layer_Filter_Decimal</layer_filter_decimal>
                    <product_list_toolbar>MD_AdvancedCatalog_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_super_settings>MD_AdvancedCatalog_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Settings</catalog_product_edit_tab_super_settings>
                    <catalog_product_grid>MD_AdvancedCatalog_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <advancedcatalog>
                <class>MD_AdvancedCatalog_Model</class>
                <resourceModel>advancedcatalog_mysql4</resourceModel>
            </advancedcatalog>
            <advancedcatalog_mysql4>
                <class>MD_AdvancedCatalog_Model_Mysql4</class>
                <entities>
                    <list_order>
                        <table>md_advancedcatalog_list_orders</table>
                    </list_order>
                </entities>
            </advancedcatalog_mysql4>
        </models>
        <resources>
            <advancedcatalog_setup>
                <setup>
                    <module>MD_AdvancedCatalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedcatalog_setup>
            <advancedcatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedcatalog_write>
            <advancedcatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedcatalog_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <set_advanced_data>
                        <type>singleton</type>
                        <class>advancedcatalog/catalog_product_observer</class>
                        <method>setAdvancedData</method>
                    </set_advanced_data>
                    <set_meta_data>
                        <type>singleton</type>
                        <class>advancedcatalog/catalog_product_observer</class>
                        <method>setMetaData</method>
                    </set_meta_data>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <save_advanced_product_data>
                        <type>singleton</type>
                        <class>advancedcatalog/catalog_product_observer</class>
                        <method>saveAdvancedProductData</method>
                    </save_advanced_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
        <translate>
            <modules>
                <advancedcatalog>
                    <files>
                        <default>MD_AdvancedCatalog.csv</default>
                    </files>
                </advancedcatalog>
            </modules>
        </translate>
        <layout>
            <updates>
                <advancedcatalog>
                    <file>md_advancedcatalog.xml</file>
                </advancedcatalog>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <advancedcatalog before="Mage_Adminhtml">MD_AdvancedCatalog_Adminhtml</advancedcatalog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <layout>
            <updates>
                <advancedcatalog>
                    <file>md_advancedcatalog.xml</file>
                </advancedcatalog>
            </updates>
        </layout>
        <translate>
            <modules>
                <advancedcatalog>
                    <files>
                        <default>MD_AdvancedCatalog.csv</default>
                    </files>
                </advancedcatalog>
            </modules>
        </translate>
    </frontend>
    <default>
        <md_advancedcatalog>
            <general>
                <enabled>1</enabled>
            </general>
            <list>
                <orders>most_recent,name_az,name_za,higher_price,lower_price</orders>
                <responsive_filters>1</responsive_filters>
            </list>
            <admin_list>
                <show_image>1</show_image>
                <image_field>thumbnail</image_field>
            </admin_list>
            <admin_create_product>
                <quick_configurable>1</quick_configurable>
                <custom_meta_title>{product_name}</custom_meta_title>
                <custom_meta_description>Compre {product_name} pelo melhor preço!</custom_meta_description>
                <custom_meta_keyword>{product_name}</custom_meta_keyword>
            </admin_create_product>
        </md_advancedcatalog>
    </default>
</config>
